{% extends "base.html" %}
{{ request.session.name }}

{% block internalbody %} 

  <h1>No permission</h1>
        <p id="errormessage">
        {% if message %}
           {{ message }}
        {% else %}
           You have no permission to access these reports. 
           </br>
           Go back to <a href="{% url "index" %}{{ get_request_string|safe }}">
                         Home
                      </a> for more options.
        {% endif%}
        </p>
        
{% endblock internalbody %}

