
{% load static %}
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
<head>
<meta http-equiv="content-type" content="text/html" />
<meta http-equiv="cache-control" content="no-cache" />
<meta name="site-down" content="maintenance" />
    <title>Stats - Error</title>
        <link rel="stylesheet" href="{{ STATIC_URL }}css/base.css" type="text/css" media="screen" />
</head>

<body>

<!-- BEGINNING OF PAGEHEADER -->
    
    <div id="id_header">
        <div class="header-wrapper">
            <a href="http://orbolt.com"><span class="yui3-u logo"></span></a>
  	    <div class="yui3-u header-search-container">
   	    </div>
	</div>      
    </div>
 
<!-- END OF PAGEHEADER -->
 
<!-- BEGINNING OF MAINBODY -->

    <div id="id_nav_wrapper">
 	<div class="nav-menu categories">
	</div>
    </div> 

 	<div id="id_wrapper">
            
	<div class="full-width">
	    <div align="center">
		<div style="background:#2d4a62; padding:40px; width:320px; color:#ffffff; font-size:4em; font-weight:bold; line-height:0.7em;">404
		<br />
		<br />
		Oops!
		</div>
	    </div>
	
	
	                    
	<h2>Sorry, that page doesn't exist!</h2>
              
                        
	<h2>To report an error, please email <a href="mailto:support@sidefx.com">yele@sidefx.com</a>.</h2>
	

	<div class="break"></div>
    
    

	</div>
<!-- END OF id_wrapper -->


<!-- BEGINNING OF PAGEFOOTER -->

<!-- END OF MAINBODY -->
 
</body>
</html>









