{% load static %}
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
<head>
<meta http-equiv="content-type" content="text/html" />
<meta http-equiv="cache-control" content="no-cache" />
<meta name="site-down" content="maintenance" />
<title>Stats - 500 Internal Error</title>
</head>

<body>

<!-- BEGINNING OF PAGEHEADER -->
<!-- END OF PAGEHEADER -->
 
<!-- BEGINNING OF MAINBODY -->
   <div class="full-width">
	    <div align="center">
		  <div style="background:#ff9900; padding:40px; width:320px; color:#00000; font-size:4em; font-weight:bold; line-height:0.7em;">500
		   <br />
		   <br />
		   Oops!
		  </div>
		 <h2>Sorry, an Error ocurred! </h2>
		 
		 <p id="errormessage">{{ exception_value }}</p>
	   </div>
	<div class="break"></div>
	</div>
	
<!-- BEGINNING OF PAGEFOOTER -->
<!-- END OF MAINBODY -->
 
</body>
</html>

