<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html lang="en">
{% block head %}
<script type="text/javascript" src ="http://ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js"></script>

<!-- Datapicker new -->
 
 <script type="text/javascript" src="{{STATIC_URL}}DatePicker-master/js/datepicker.js"></script>
 <script type="text/javascript" src="{{STATIC_URL}}DatePicker-master/js/DateRangesWidget.js"></script>
 
 <link rel="stylesheet" type="text/css" href="{{STATIC_URL}}DatePicker-master/css/base.css" />
 <link rel="stylesheet" type="text/css" href="{{STATIC_URL}}DatePicker-master/css/DateRangesWidget/clean.css" />
 <link rel="stylesheet" href="{{STATIC_URL}}DatePicker-master/css/DateRangesWidget/base.css" />
 
 <link rel="stylesheet" type="text/css" href="{{STATIC_URL}}DatePicker-master/css/datepicker/clean.css" />
 <link rel="stylesheet" href="{{STATIC_URL}}DatePicker-master/css/datepicker/base.css" />
 <link rel="stylesheet" href="{{STATIC_URL}}DatePicker-master/css/agg_widget.css" />
  
 <!-- Bootstrap -->
 <link href="{{STATIC_URL}}bootstrap/css/bootstrap.min.css" rel="stylesheet" media="screen">
 <link href="{{STATIC_URL}}bootstrap/css/bootstrap-responsive.min.css" rel="stylesheet" media="screen">
 <script src="{{STATIC_URL}}bootstrap/js/bootstrap.min.js"></script>
 
  <!-- Custom styles for home page template -->
  <link href="{{STATIC_URL}}bootstrap/css/justified-nav.css" rel="stylesheet">

<head>
    <meta charset="utf-8">
    <title>Houdini Stats</title>
    
    <style type="text/css">
        h1, h2  {font: 2.5em/1em 'Georgia', serif}
        h2  {font-size: 1.5em}
        .normal {height: 240px; width: 300px}
        .wide   {height: 240px; width: 940px}
        .graph  {background: #f9f9f9; margin-bottom: 20px}
        #container {
                width: 300px;
                float:right;
        }
        #id_nav_wrapper2 {
            box-shadow: 0 1px 2px 0px #222;
            background:lightgrey;
            height:30px;
            font-size:1.3em;
            text-align: center;
            vertical-align: center;
        }
        #section{
            padding-top:5px;
            margin-left:0px;
            width:250px;
            height:100%;
            float:left;
        }
        #section:hover{
            cursor:pointer;
            font-size:1em;
                font-weight:bold;
                color:#ffffff;
        }
        .selected{
            color:grey;
            cursor:auto;
            font-weight: normal;
        }
        .graph-title{
            font: 1.5em 'Georgia', serif;
            margin-left:20px;
        }
        
        .progress-indicator {
        	top:0;
        	right:0;
        	width:100%;
        	height:100%;
        	position:fixed;
        	text-align:center;
        	/* IE filter */
        	filter: progid:DXImageTransform.Microsoft.Alpha(opacity=50);
        	-moz-opacity:0.5;    /* Mozilla extension */
        	-khtml-opacity:0.5;  /* Safari/Conqueror extension */
        	opacity:0.5; /* CSS3 */
        	 z-index:1000;
        	background-color:white;
        	display:none;
        }

        .progress-indicator img {
            margin-top:150px;
        }
        
        
    </style>
   {% block internalhead %} 
   {% endblock internalhead %} 
    
</head>

{% endblock %}
<body>
<div class="container">

<div class="progress-indicator">
   <img src="{{STATIC_URL}}images/icon_loading_75x75.gif" alt="" />
</div>

<div class="brand">
    <div align="left">
       <a href="{% url 'index' %}">
       <img alt="stats" src="{{STATIC_URL}}images/analytics_banner.png">
       </a>
       <!-- 
       <h3 class="muted">Side Effects Software Analytics</h3> -->
   </div>   
   <div align="right">
     {% if is_logged_in %} Welcome {{ user}}. {% endif %}
     <br> 
     <a class="" {% if is_logged_in %} href="{% url "logout" %}"> 
        Logout
        {% else %} href="{% url "login" %}">
        Login
        {% endif %} 
      </a>            
   </div>
   
   <br>
   
   {% if show_date_picker %} 
    <div id="container">
       <input type="hidden" id="selected_agg" name="selected_agg" value="" />
       <div class="item">
          <div class="pickerContainer widget">
          </div>
       </div>
       {% if show_agg_widget %}
       <br> 
       <ul class="_GAng">       
       		<li {% if aggregation == 'daily' %}class="_GAkd _GApbb _GAl" 
       		    {% else %} class="_GAkd" {% endif %} > 
       		    Daily 
       		</li>       		
       		<li {% if aggregation == 'weekly' %}class="_GAkd _GApbb _GAl" 
       		    {% else %} class="_GAkd _GApbb" {% endif %}> 
       		    Weekly
       		</li>
       		<li {% if aggregation == 'monthly' %}class="_GAkd _GApbb _GAl" 
       		    {% else %} class="_GAkd _GApbb" {% endif %}> 
       		    Monthly 
       		</li>
       		<li {% if aggregation == 'yearly' %}class="_GAkd _GApbb _GAl" 
       		    {% else %} class="_GAkd _GApbb" {% endif %}> 
       		Yearly 
       		</li>
       </ul>
       {% endif %}
       </div>
   </div>
   <br><br>
   <br><br>
   <br><br>
   {% endif %}     
        
   <div class="navbar">
     <div class="navbar-inner">
         <div class="container">
            <ul class="nav">
              <li {% if not active_menu %} class="active" {% endif %}>
                 <a href="{% url "index" %}{{ get_request_string|safe }}">Home</a>
              </li>
              <!--Dinamically building menu with dropdown options -->
              {% for menu_dropdown in top_menu_options %}
               <li {%if active_menu == menu_dropdown.menu_name %} 
                   class="dropdown active"
                   {% else %} class="dropdown"
                   {% endif%}>
                   
                   <a data-toggle="dropdown"
                      class="dropdown-toggle" href="#">
                      {{ menu_dropdown.menu_name }} 
                      <b class="caret"></b>
                   </a>
                   <ul class="dropdown-menu">
                      {% for name, title, extra in menu_dropdown.menu_options %}
                         <li {% if active_menu_option_info.name == name %} 
                                class="active"
                             {% endif%}> 
                             <a href="{% url "generic_report" menu_dropdown.menu_url_prefix name %}{{ get_request_string|safe }}">
                                {{ title }}
                             </a>
                         </li>
                         
                      {% endfor %}
                  </ul>
              </li> 
              {% endfor %}
              <!-- 
              <li>
                 <a href="https://www.orbolt.com/analytics" target="_blank">
                    Orbolt
                 </a>
              </li>
              -->
            </ul>
        </div>
   </div>
   
   {% if active_menu %} 
   <ol style="margin-bottom: 5px;" class="breadcrumb">
        <li>{{ active_menu }} / </li>
        <li class="active"> {{ active_menu_option_info.title }} </li>
   </ol>
   {% endif %}
   </div>
   
   {% if active_menu %} 
      {% include 'menu_options_pager.html' %}
   {% endif %}
   
   {% block indexbody %} 
   {% endblock indexbody %}
   
   {% block internalbody %} 
   {% endblock internalbody %} 
   
   {% if active_menu %} 
      {% include 'menu_options_pager.html' %}
   {% endif %}

</div>
<!-- 
 <footer>
        <p>&copy; Side Effects Software 2013</p>
 </footer>
-->
</body> 

{% if show_date_picker %}   

<script type="text/javascript">
     //<![CDATA[
           
           $(window).bind(
              $.browser.opera ? 'unload' : 'beforeunload',
              function(){
               //display image container
               $('.progress-indicator').css( 'display', 'block' );
               //set a little timeout and force re-displaying of the image
               //this can work around IE behavior, that 'freezes' 
               //animations during a submit
               setTimeout( function() {
                  $('.progress-indicator > img').attr( 'src', 
                  $('.progress-indicator > img').attr('src')+'?reload' );
               }, 50 );
            } );     
           
           $(document).ready(function() {
           
        	var start = null;
            var end = null;
            
            if ("{{range}}" != "None"){
            	
            	start = "{{range.0}}";
            	end = "{{range.1}}";
            	
                var range = start.replace(", midnight", "") + " - " + end.replace(", midnight", "");
            } else {range="Select date range";}

            var custom_aggregation = null;
            if ("{{aggregation}}" != "None"){
                custom_aggregation = "{{aggregation}}";
            }
            
            $('.pickerContainer.widget').DateRangesWidget({
                // Initialize the date picker with
                // the range and aggregation 
                start: start,
                end: end,
                aggregation: custom_aggregation,
             });
            
            if (range) $(".main").html(range);
            
            // If aggregation was selected from aggregation widget
            $("._GAng").on('click','li',function (){
            	
            	aggregation = $(this).text(); 
            	
            	// The aggregation hidden field value will be just set when
            	// we select the aggregation from the aggregation widget
            	$("#selected_agg").val(aggregation.replace(/ /g,''));
            	           	
            	// Trigger datepicker main click to set datepickers internal
            	// values
            	$(".main").trigger("click");
            	
            	// Trigger datepicker button-ok click to save the needed values
            	// to be able to use them.
            	$("#button-ok").trigger("click");
            	
            });
            // If aggregation was selected from inside datepicker
            $("#button-ok").click(function(){   
            	
            	// Get aggregation from hidden field
            	var aggregation = $("#selected_agg").val();
            	
            	// If the aggregation value wasnt set in the hidden field
            	// then it means the button onclick event was triggered from 
            	// the dropdown inside the datepicker
            	if(aggregation=="")
            	{
            		aggregation = $(".aggregation:eq(1)").find(":selected").text();
                    var match = aggregation.match(/\((.*)\)/);
                    if (match)
                        aggregation = match[1];
            		
            	} 
                var date = $(".main").text();
                var range = date.split("-");
                var start = $.trim(range[0]);
                var end = $.trim(range[1]);
                
                // Validate date is in format dd/MM/yyyy
                var valid_date = checkDate(start, "Start date") && checkDate(end, "End date");	
                if(valid_date)
                {
                	window.location = "{{ url }}"+ "?start="+start+"&end="+end+"&ag="+aggregation;
                }               
                
            })
        }); 
    
       // Original JavaScript code by Chirp Internet: www.chirp.com.au 
       function checkDate(date, date_text) { 
           var allowBlank = false; 
           var minYear = 1987; // sidefx creation year
           var maxYear = (new Date()).getFullYear(); 
           var errorMsg = ""; 
           
           // regular expression to match required date format 
           re = /^(\d{1,2})\/(\d{1,2})\/(\d{4})$/; if(date != '') 
           { if(regs = date.match(re)) { 
        	   if(regs[1] < 1 || regs[1] > 31) {
        		   errorMsg = "The date format is dd/MM/yyyy. Invalid value for day " + regs[1] + " in "+ date_text; } 
        	   else if(regs[2] < 1 || regs[2] > 12) { 
        		   errorMsg = "The date format is dd/MM/yyyy. Invalid value for month " + regs[2] + " in "+ date_text; } 
        	   else if(regs[3] < minYear || regs[3] > maxYear) { 
        		   errorMsg = "Invalid value for year: " + regs[3] + " - must be between " + minYear + " and " + maxYear + " in "+ date_text; } } 
           
           else { errorMsg = "The date format is dd/MM/yyyy. Invalid date format: " + date + " in "+ date_text; } } 
           else if(!allowBlank) { errorMsg = "Empty date not allowed!"; } 
           
           if(errorMsg != "") { alert(errorMsg); date; return false; } 
           
           return true; 
       }        
             
    //]]>
    </script>

{% endif %}
</html>
