{% extends "base.html" %}
{{ request.session.name }}
{% load googlecharts %}
{% load reports_tags %}

{% block internalbody %}
      
    {% if active_menu_option_info.name == "login_registration" %}   
      
    <div class="graph-title">New website registrations per day</div>
    <div>
    <br>
    <div id="series_users_registered_forum_openid" class="wide graph"></div>
    <p>* Users who registered and then later logged in using OpenID will show up as OpenID registrations.</p>
    <!-- 
    <br>
    <div class="graph-title">Cumulative Registrations</div>
    <div>
    <div id="series_users_registered_forum_openid" class="wide graph"></div>
     -->
    <br>
    <div class="graph-title">Breakdown of registration methods for the selected period of time</div>
    <br>
    <div>
    <br>
     <span> &nbsp;&nbsp;&nbsp;&nbsp; Total of user registered with forum: {{ total_forum }} </span>  
     <br> 
     <span> &nbsp;&nbsp;&nbsp;&nbsp; Total of user registered with openid: {{ total_openid }} </span>   
    </div>
    <div id="series_openid_breakdown" class="wide graph"></div>
    <br>
    {% endif %}
            
    {% googlecharts %}
    
        {% include 'googlecharts_options.html' %}
        
        {% if active_menu_option_info.name == "login_registration" %}   
        
        {% data series.users_forum_openid "count1" %}
            {% col "string" "Date" %}
               {% show_annotation_title events val %} 
            {% endcol %}
            
            {% col "number" "Total Users Registered" %}{{ val }}{% endcol %}
            {% col "string" "" "annotation" %}"{{ val }}"{% endcol %}
            {% col "number" "Total Users Registered with Forum" %}{{ val }}{% endcol %}
            {% col "number" "Total Users Registered with Openid" %}{{ val }}{% endcol %}
        {% enddata %}
        
        {% data series.open_id_breakdown "count2" %}
           {% col "string" "Provider" %}"{{ val }}"{% endcol %}
           {% col "number" "# of users registered" %}{{ val }}{% endcol %}
        {% enddata %}
        
        {% graph "series_users_registered_forum_openid" "count1" "opt_count_with_legend" %}
        {% graph "series_openid_breakdown" "count2" "opt_count_wide_column" %}
        
        {% endif %}
        
    {% endgooglecharts %}

 {% endblock internalbody %}   

