{% load googlecharts %}

    {% include 'hou_reports_message.html' %}  
  
    <div class="graph-title">Number of Crashes Over Time </div>
    <br>
    <div id="series_hou_crashes_over_time" class="wide graph"></div>
    <br>
    
    <div class="graph-title">Number of Individual Machines Sending Crashes Over Time</div>
    <br>
    <div id="series_num_of_machines_sending_crashes" class="wide graph"></div>
    <br>
    
    <div class="graph-title">Average Num of Crashes From the Same Machine </div>
    <br>
    <div id="series_avg_crashes_by_same_machine" class="wide graph"></div>
    <br>
    
    <!-- Pie Charts -->
    <div class="graph-title">Houdini Crashes by Operating Systems</div>
    <div>
    <div id="by_os" style="display: inline-block"></div>
    <div id="by_os_detailed" style="display: inline-block"></div>
    </div>
    <br>
    <div class="graph-title">Houdini Crashes by Product</div>
    <div>
    <div id="by_prod" style="display: inline-block"></div>
    </div>
    
    {% googlecharts %}
    
     {% include 'googlecharts_options.html' %}
     {% data series.hou_crashes_over_time "count" %}
            {% col "string" "Date" %}"{{ val|date:date_format }}"{% endcol %}
            {% col "number" "# of crashes" %}{{ val }}{% endcol %}
     {% enddata %}
     {% graph "series_hou_crashes_over_time" "count" "opt_count_area_wide" %}
 
     {% data series.hou_num_of_machines_sending_crashes_per_day "count2" %}
  	 	{% col "string" "Date" %}"{{ val|date:date_format }}"{% endcol %}
  	 	{% col "number" "Number of machines" %}{{ val }}{% endcol %}
     {% enddata %}
  
     {% graph "series_num_of_machines_sending_crashes" "count2" "opt_count_wide_column" %}
     
     {% data series.hou_avg_crashes_by_same_machine "count3" %}
     	{% col "string" "Date" %}"{{ val|date:date_format }}"{% endcol %}
     	{% col "number" "Avg # of crashes" %}{{ val }}{% endcol %}
     {% enddata %}
     
     {% graph "series_avg_crashes_by_same_machine" "count3" "opt_count_wide_columnGreen" %}
  
     <!-- Pie charts -->
     {% data pies.hou_crashes_by_os "hou_crashes_by_os" %}
             {% col "string" "OS" %}"{{ val }}"{% endcol %}
             {% col "number" "Count" %}{{ val }}{% endcol %}
     {% enddata %}
     
     {% data pies.hou_crashes_by_os_detailed "hou_crashes_by_os_detailed" %}
     		 {% col "string" "OS" %}"{{ val }}"{% endcol %}
             {% col "number" "Count" %}{{ val }}{% endcol %}
     {% enddata %}
     
     {% graph "by_os" "hou_crashes_by_os" "out_options" %}
     {% graph "by_os_detailed" "hou_crashes_by_os_detailed" "out_options" %}
     
     
     {% data pies.hou_crashes_by_product "hou_crashes_by_product" %}
     	{% col "string" "Product" %}"{{ val }}"{% endcol %}
     	{% col "number" "Count" %}{{ val }}{% endcol %}
     {% enddata %}
     {% graph "by_prod" "hou_crashes_by_product" "out_options" %}
          
     {% endgooglecharts %}
