{% extends "base.html" %}
{{ request.session.name }}

{% block internalbody %}
    
    <!--TODO: Render these templates in a more generic way so that we can
    change the menu and dinamically and not worry about the texts like 
    "overview, crashes, etc etc"  -->
    {% if active_menu_option_info.name == "downloads" %}
       {% include 'hou_downloads_reports.html' %}
    {% endif%}
    
    {% if active_menu_option_info.name == "usage" %}
       {% include 'hou_overview_reports.html' %}
    {% endif%}
    
    {% if active_menu_option_info.name == "uptime" %}
       {% include 'hou_uptime_reports.html' %}
    {% endif%}
    
    {% if active_menu_option_info.name == "crashes" %}
       {% include 'hou_crashes_reports.html' %}
    {% endif%}
    
    {% if active_menu_option_info.name == "tools_usage" %}
       {% include 'hou_tools_usage_reports.html' %}
    {% endif%}
    
    {% if active_menu_option_info.name == "versions_and_builds" %}
       {% include 'hou_versions_builds_reports.html' %}
    {% endif%}
    
{% endblock internalbody %}   
