{% load googlecharts %}
     <div class="graph-title">Most Popular Nodes </div>
     <br>
     <div id="series_hou_most_popular_nodes" class="wide graph"></div>
     <br>
     {% googlecharts %}
        
        {% include 'googlecharts_options.html' %}
        
        {% data series.hou_most_popular_nodes "count3" %}
           {% col "string" "Node" %}"{{ val }}"{% endcol %}
           {% col "number" "# of times used" %}{{ val }}{% endcol %}
        {% enddata %}
     
        {% graph "series_hou_most_popular_nodes" "count3" "opt_count_wide_column" %}
     
     {% endgooglecharts %}
