{% load googlecharts %}
     <div class="graph-title">Most Popular Nodes </div>
     <br>
     <div id="series_hou_most_popular_nodes" class="wide graph"></div>
     <br>
     
     <div class="graph-title">Most Popular Nodes from the Shelf </div>
     <br>
     <div id="series_hou_most_popular_nodes_shelf" class="wide graph"></div>
     <br>
     
     <div class="graph-title">Most Popular Nodes from the Viewer </div>
     <br>
     <div id="series_hou_most_popular_nodes_viewer" class="wide graph"></div>
     <br>
     
     <div class="graph-title">Most Popular Nodes from the Network </div>
     <br>
     <div id="series_hou_most_popular_nodes_network" class="wide graph"></div>
     <br>
     
     {% googlecharts %}
        
        {% include 'googlecharts_options.html' %}
        
        {% data series.hou_most_popular_nodes "count1" %}
           {% col "string" "Node" %}"{{ val }}"{% endcol %}
           {% col "number" "# of times used" %}{{ val }}{% endcol %}
        {% enddata %}
        
        {% data series.hou_most_popular_nodes_shelf "count2" %}
        {% col "string" "Node" %}"{{ val }}"{% endcol %}
        {% col "number" "# of times used" %}{{ val }}{% endcol %}
        {% enddata %}
        
        {% data series.hou_most_popular_nodes_viewer "count3" %}
        {% col "string" "Node" %}"{{ val }}"{% endcol %}
        {% col "number" "# of times used" %}{{ val }}{% endcol %}
        {% enddata %}
        
        {% data series.hou_most_popular_nodes_network "count4" %}
        {% col "string" "Node" %}"{{ val }}"{% endcol %}
        {% col "number" "# of times used" %}{{ val }}{% endcol %}
        {% enddata %}
        
     
        {% graph "series_hou_most_popular_nodes" "count1" "opt_count_wide_column" %}
        {% graph "series_hou_most_popular_nodes_shelf" "count2" "opt_count_wide_column" %}
        {% graph "series_hou_most_popular_nodes_viewer" "count3" "opt_count_wide_column" %}
        {% graph "series_hou_most_popular_nodes_network" "count4" "opt_count_wide_column" %}
        
     {% endgooglecharts %}
