{% load googlecharts %}
{% load reports_tags %}
    <div class="graph-title">Number of Houdini Downloads</div>
    <div>
    <br>
    <div id="series_software_download" class="wide graph"></div>
    <br>
    <div class="graph-title">Commercial vs Apprentice Downloads</div>
    <div>
    <br>
    <div id="series_download_percentages" class="wide graph"></div>
    
    
   {% googlecharts %}
    
        {% include 'googlecharts_options.html' %}
        
         {% data series.software_downloads "count1" %}
           
            {% col "string" "Date" %}
               {% show_annotation_title events val %} 
            {% endcol %}
            
            {% col "number" "Total Downloads" %}{{ val }}{% endcol %}
            {% col "string" "" "annotation" %}"{{ val }}"{% endcol %}
            {% col "number" "Houdini Commercial Downloads" %}{{ val }}{% endcol %}
            {% col "number" "Houdini Apprentice Downloads" %}{{ val }}{% endcol %}
        {% enddata %}
        {% graph "series_software_download" "count1" "opt_count_with_legend" %}
        
        {% data series.percentages "count2" %}
            {% col "string" "Date" %}"{{ val|date:date_format }}"{% endcol %}
            {% col "number" "% of Houdini Commercial Downloads" %}{{ val }}{% endcol %}
            {% col "number" "% of Houdini Apprentice Downloads" %}{{ val }}{% endcol %}
        {% enddata %}
        
        {% graph "series_download_percentages"  "count2" "opt_count_percentage_column" %}
               
    {% endgooglecharts %}