{% load googlecharts %}  
    
    <div class="graph-title">Number of People Using Houdini</div>
    <br>
    <div id="series_hou_users_over_time" class="wide graph"></div>
    <br>
    
    {% googlecharts %}
    
      {% include 'googlecharts_options.html' %}
      
      {% data series.users_over_time "count1" %}
         {% col "string" "Date" %}"{{ val|date:date_format }}"{% endcol %}
         {% col "number" "# of users" %}{{ val }}{% endcol %}
      {% enddata %}
      {% graph "series_hou_users_over_time" "count1" "opt_count_wide" %}
               
    {% endgooglecharts %}

