{% load googlecharts %}
 
  {% include 'hou_reports_message.html' %}
 
    <!-- Pie Charts -->
    <div class="graph-title">Houdini Versions and Builds</div>
    <div>
    <div id="general" style="display: inline-block"></div>
    <div id="general1" style="display: inline-block" ></div>
    </div>
        
    <div class="graph-title">Houdini Apprentice Versions and Builds</div>
    <div>
    <div id="apprent" style="display: inline-block"></div>
    <div id="apprent1" style="display: inline-block" ></div>
    </div>
        
    <div class="graph-title">Houdini Commercial Versions and Builds</div>
    <div>
    <div id="commer" style="display: inline-block"></div>
    <div id="commer1" style="display: inline-block" ></div>
    </div>
        
    {% googlecharts %}
 
        {% include 'googlecharts_options.html' %}
        
        <!-- Pie charts -->
        {% data pies.houdini_versions "houdini_versions" %}
                {% col "string" "Name" %}"{{ val }}"{% endcol %}
                {% col "number" "Value" %}{{ val }}{% endcol %}
        {% enddata %}
        
        {% data pies.houdini_builds "houdini_builds" %}
                {% col "string" "Name" %}"{{ val }}"{% endcol %}
                {% col "number" "Value" %}{{ val }}{% endcol %}
        {% enddata %}
        
        {% graph "general" "houdini_versions" "out_options" %}
        {% graph "general1" "houdini_builds" "out_options" %}
        
        {% data pies.houdini_versions_apprentice "houdini_versions_apprentice" %}
                {% col "string" "Name" %}"{{ val }}"{% endcol %}
                {% col "number" "Value" %}{{ val }}{% endcol %}
        {% enddata %}
        
        {% data pies.houdini_builds_apprentice "houdini_builds_apprentice" %}
                {% col "string" "Name" %}"{{ val }}"{% endcol %}
                {% col "number" "Value" %}{{ val }}{% endcol %}
        {% enddata %}
       
        {% graph "apprent" "houdini_versions_apprentice" "out_options" %}
        {% graph "apprent1" "houdini_builds_apprentice" "out_options" %}  
        
        {% data pies.houdini_versions_commercial "houdini_versions_commercial" %}
                {% col "string" "Name" %}"{{ val }}"{% endcol %}
                {% col "number" "Value" %}{{ val }}{% endcol %}
        {% enddata %}
        
        {% data pies.houdini_builds_commercial "houdini_builds_commercial" %}
                {% col "string" "Name" %}"{{ val }}"{% endcol %}
                {% col "number" "Value" %}{{ val }}{% endcol %}
        {% enddata %}

        
        {% graph "commer" "houdini_versions_commercial" "out_options" %}
        {% graph "commer1" "houdini_builds_commercial" "out_options" %}
      
    {% endgooglecharts %}
