{% load googlecharts %}

    {% include 'hou_reports_message.html' %}  
  
    <div class="graph-title">Houdini Crashes Over Time </div>
    <br>
    <div id="series_hou_crashes_over_time" class="wide graph"></div>
    <br>
    <!--  
    <div class="graph-title">Houdini Crashes grouped by Operating Systems</div>
    <div id="os_out"></div>
    <div class="graph-title">Houdini Crashes grouped by Product</div>
    <div id="os_out"></div>
    -->
    
    {% googlecharts %}
    
     {% include 'googlecharts_options.html' %}
     {% data series.hou_crashes_over_time "count" %}
            {% col "string" "Date" %}"{{ val|date:date_format }}"{% endcol %}
            {% col "number" "# of crashes" %}{{ val }}{% endcol %}
     {% enddata %}
     
     {% graph "series_hou_crashes_over_time" "count" "opt_count_wide" %}
 
     {% endgooglecharts %}
