{% extends "base.html" %}
{{ request.session.name }}

{% block indexbody %} 
          <div class="row">
            {% if top_menu_options|length != 0%}
             {% for menu_dropdown in top_menu_options %}
             {% if menu_dropdown.menu_image or menu_dropdown.menu_description %}
              <div class="span">
              <h2> {{ menu_dropdown.menu_name }} Reports</h2>
              {% if menu_dropdown.menu_image %}
              	<a href="{% url "generic_report" menu_dropdown.menu_url_prefix menu_options.0.0 %}">
              		<img alt="stats" src="{{STATIC_URL}}/images/{{menu_dropdown.menu_image}}">
              	</a>
              {% endif %}
              {% if menu_dropdown.menu_description %}
              	<p>
              		{{ menu_dropdown.menu_description }}
              	</p>
              {% endif %}
              <a class="btn btn-default" 
                 href="{% url "generic_report" menu_dropdown.menu_url_prefix menu_options.0.0 %}">
                 View details &raquo;
              </a>
              <br/>
              </div>
              <!--/span-->
             {% endif %}
             <br/>
             {% endfor %}
            {% else %}
            <div class="span">
              <h2> You dont have permission to access any Report. </h2>
            </div>
          {% endif %}
         </div><!--/row-->
{% endblock indexbody %}   

