{% extends "base.html" %}
{{ request.session.name }}

 {% block indexbody %} 
          <div class="row">
            <div class="span">
              <h2>Houdini Analytics</h2>
              <a href="{% url "hou_reports" "downloads" %}">
                 <img alt="stats" src="{{STATIC_URL}}/images/stats_houdini.png">
              </a>
              <p>Graphs and reports from data being collected from inside Houdini. 
                 Some of the analytics in this set include session information, houdini crashes, must popular nodes and more.<p>
                 <a class="btn btn-default" href="{% url "hou_reports" "downloads" %}">View details &raquo;</a></p>
            <br/>
            </div><!--/span-->
            
             <div class="span">
              <h2>Houdini Apprentice</h2>
              <a href="{% url "hou_apprentice" "apprentice_activations" %}">
                 <img alt="stats" src="{{STATIC_URL}}/images/stats_licensing.png">
              </a>
              <p>Graphs and reports related to Houdini Apprentice. 
                 Some of the analytics in this set include Apprentice Activations overtime and Apprentice HD sales.<p>
                 <a class="btn btn-default" href="{% url "hou_apprentice" "apprentice_activations" %}">View details &raquo;</a></p>
            <br/>
            </div><!--/span-->
            
            <div class="span">
              <h2>Surveys Analytics</h2>
              <a href="{% url "hou_surveys" "sidefx_labs" %}">
                 <img alt="stats" src="{{STATIC_URL}}/images/stats_survey.png">
              </a>
              <p>Graphs and reports from data stored in the Surveys Database. 
                 Some of the analytics in this set include results of the houdini labs and apprentice survery statistics.<p>
                 <a class="btn btn-default" href="{% url "hou_surveys" "sidefx_labs" %}">View details &raquo;</a></p>
            <br/>
            </div><!--/span-->
            
            <div class="span">
              <h2>Side Effects Website Analytics</h2>
              <a href="{% url "hou_forum" "login_registration" %}">
                 <img alt="stats" src="{{STATIC_URL}}/images/stats_sidefx.png">
              </a>
              <p>Graphs and reports from data stored in the Forum Database. 
                 Some of the analytics in this set include statistics for login and registration.<p>
                 <a class="btn btn-default" href="{% url "hou_forum" "login_registration" %}">View details &raquo;</a></p>
            <br/>
            </div><!--/span-->
         </div><!--/row-->
        
 {% endblock indexbody %}   

