 <!-- Pager to change from one report category to the next one -->
    <ul class="pager">
    {% if active_menu_option_info.prev_option.url != "" %}
     <li class="previous">
       <a href="{{ active_menu_option_info.prev_option.url }}{{ get_request_string|safe }}"> 
        << {{active_menu_option_info.prev_option.title }} 
       </a>
     </li>
    {% endif %}
    
    {% if active_menu_option_info.next_option.url != "" %}
     <li class="next">
       <a href="{{ active_menu_option_info.next_option.url }}{{ get_request_string|safe }}"> 
       {{ active_menu_option_info.next_option.title }} >>
       </a>
     </li>
     {% endif %}
    </ul>
    
