 <!-- Pager to change from one report category to the next one -->
    <ul class="pager">
    {% if active_menu_option_info.prev_option.key != "" %}
     <li class="previous">
       <a href="{% url active_menu_option_info.menu_view active_menu_option_info.prev_option.key %}{{ get_request_string|safe }}"> 
        << {{active_menu_option_info.prev_option.name }} 
       </a>
     </li>
    {% endif %}
    
    {% if active_menu_option_info.next_option.key != "" %}
     <li class="next">
       <a href="{% url active_menu_option_info.menu_view active_menu_option_info.next_option.key %}{{ get_request_string|safe }}"> 
       {{ active_menu_option_info.next_option.name }} >>
       </a>
     </li>
     {% endif %}
    </ul>
    
