{% extends "base.html" %}
{{ request.session.name }}
{% load googlecharts %}
{% block internalbody %}
      
    {% if active_menu_option_info.name == "sidefx_labs" %}
     <div class="graph-title">Breakdown of Labs Users who subscribed for Maya or Unity plugin
     </div>
     <div>
      <br>
      <span> &nbsp;&nbsp;&nbsp;&nbsp; Total number of answers (since the survey was launch): {{ count_total }} </span>   
     </div>
     <div id="series_user_answers_maya_unity" class="wide graph"></div>
     <br>
     <div id="series_user_answers_maya_unity_over_time" class="wide graph"></div>
    
    {% else %}
      {% if active_menu_option_info.name == "apprentice_followup" %}
       
       <div class="graph-title"> Percentage of Users who replied the Survey from Apprentice Activations
       </div>
       <div id="series_survey_counts_percentages" class="wide graph"></div>
      
        <br>
        <!-- Showing pie charts with apprentice survey answers, in pairs of two.
        Two pie charts beside each other -->
        {% for questions_tuple in series.questions_tuples %}
        <table>
         <tr>
          {% for key,value in series.questions_and_total_counts.items %}
          {% if key == questions_tuple.0 %}
          <td>
	           <div class="graph-title"> {{ value.text }} </div>
	           <div>
	           <br>
	           <span> &nbsp;&nbsp;&nbsp;&nbsp; Total number of answers: {{ value.count }} </span>  
	           </div>
	           <br>
	           <div id="series_user_answers_apprentice_{{forloop.counter}}"></div>
	           <br>
	      </td>
          {% endif %}
          {% if key == questions_tuple.1 %}
          <td>
	           <div class="graph-title"> {{ value.text }} </div>
	           <div>
	           <br>
	           <span> &nbsp;&nbsp;&nbsp;&nbsp; Total number of answers: {{ value.count }} </span>   
	           </div>
	           <br>
	           <div id="series_user_answers_apprentice_{{forloop.counter}}"></div>
	           <br>
          </td>
          {% endif %}
          {% endfor %}
         </tr>
        </table>
         {% endfor %}     
      {% endif%} 
    {% endif %}  
      
    {% googlecharts %}
    
      {% include 'googlecharts_options.html' %}
      
      {% if active_menu_option_info.name == "sidefx_labs" %}
            {% data series.user_answers_maya_unity_count "count1" %}
	           {% col "string" "3D Tool" %}"{{ val }}"{% endcol %}
	           {% col "number" "# of users registered" %}{{ val }}{% endcol %}
	           {% col "number" "# of users registered" %}{{ val }}{% endcol %}
	        {% enddata %}
	        
	        {% data series.user_answers_maya_unity_over_time "count2" %}
	           {% col "string" "Date" %}"{{ val|date:date_format }}"{% endcol %}
	           {% col "number" "Maya" %}{{ val }}{% endcol %}
	           {% col "number" "Unity" %}{{ val }}{% endcol %}
	        {% enddata %}
	        {% graph "series_user_answers_maya_unity" "count1" "opt_count_column" %}
            {% graph "series_user_answers_maya_unity_over_time" "count2" "opt_count_with_legend" %}  
	        
	  {% else %}
        {% if active_menu_option_info.name == "apprentice_followup" %}
            
            {% data series.survey_counts_percentages "count0" %}
               {% col "string" "Date" %}"{{ val|date:date_format }}"{% endcol %}
               {% col "number" "% of user" %}{{ val }}{% endcol %}
            {% enddata %}
            
            {% graph "series_survey_counts_percentages" "count0" "opt_count_percentage_column" %}   
            
		      {% data series.answer_1 "count1" %}
	             {% col "string" "Answer" %}"{{ val }}"{% endcol %}
	             {% col "number" "# of users that selected this choice" %}{{ val }}{% endcol %}
	          {% enddata %}
	          {% graph "series_user_answers_apprentice_1" "count1" "out_options" %}
	          
	          {% data series.answer_2 "count2" %}
                 {% col "string" "Answer" %}"{{ val }}"{% endcol %}
                 {% col "number" "# of users that selected this choice" %}{{ val }}{% endcol %}
              {% enddata %}
              {% graph "series_user_answers_apprentice_2" "count2" "out_options" %}
              
              {% data series.answer_3 "count3" %}
                 {% col "string" "Answer" %}"{{ val }}"{% endcol %}
                 {% col "number" "# of users that selected this choice" %}{{ val }}{% endcol %}
              {% enddata %}
              {% graph "series_user_answers_apprentice_3" "count3" "out_options" %}
              
              {% data series.answer_4 "count4" %}
                 {% col "string" "Answer" %}"{{ val }}"{% endcol %}
                 {% col "number" "# of users that selected this choice" %}{{ val }}{% endcol %}
              {% enddata %}
              {% graph "series_user_answers_apprentice_4" "count4" "out_options" %}
              
              {% data series.answer_5 "count5" %}
                 {% col "string" "Answer" %}"{{ val }}"{% endcol %}
                 {% col "number" "# of users that selected this choice" %}{{ val }}{% endcol %}
              {% enddata %}
              {% graph "series_user_answers_apprentice_5" "count5" "out_options" %}
           
        {% endif%}     
      {% endif %}
   
   {% endgooglecharts %}
 {% endblock internalbody %}   

